In [125]:
"""

take business_location and business_review
add name to business_location and is_franchise column
is_franchise = 1 iff more than one of the same business in state else 0

"""

import pandas as pd

In [126]:
df_location = pd.DataFrame(pd.read_csv(r'business_location.csv', low_memory=False))
df_review = pd.DataFrame(pd.read_csv(r'business_review.csv', low_memory=False))

In [127]:
print(df_location.shape)
df_location.head()

(209393, 7)

,business_id,address,city,state,postal_code,latitude,longitude
0,f9NumwFMBDn751xgFiRbNA,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612
1,Yzvjg0SayhoZgCljUJRF9Q,"8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264
2,XNoUzKckATkOD1hP6vghZg,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070
3,6OAZjbxqM5ol29BuHsil3w,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725
4,51M2Kk903DFYI6gnB5I6SQ,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648

In [128]:
print(df_review.shape)
df_review.head()

(209393, 4)

,business_id,name,stars_average,review_count
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,3.5,36
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD",5.0,4
2,XNoUzKckATkOD1hP6vghZg,Felinus,5.0,5
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,2.5,3
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4.5,26

In [129]:
df_business_location = pd.DataFrame()
df_business_location['business_id'] = df_location.business_id
df_business_location['name'] = df_review.name


rest_cols = [e for e in df_location.columns]
df_business_location[[e for e in rest_cols]] = df_location[[e for e in rest_cols]]

In [130]:
df_business_location['is_franchise'] = 0

In [151]:
dft = df_business_location.sort_values(by='state')

l1 = []
franchise_list = []
row_num = 0

current_state = dft.iloc[0].state
print(current_state)
for row in dft.itertuples():
    if row.state != current_state:
        current_state = row.state
        l1 = []
    if row.name in l1 and [row.name, row.state] not in franchise_list:
        #dft.at[row_num, 'is_franchise'] = 1
        franchise_list.append([row.name, row.state])
    if row.name not in l1:
        l1.append(row.name)
        
    row_num += 1

AB

In [160]:
#franchise_list

row_num = 0
for row in df_business_location.itertuples():
    if [row.name, row.state] in franchise_list:
        df_business_location.at[row_num, 'is_franchise'] = 1
    row_num += 1

In [162]:
df_business_location.to_csv(r'business/business_location.csv', index=False, encoding='utf-8')

In [133]:
'''df_franchises = dft[dft.is_franchise==1]
df_franchises'''
'dep'

'dep'

In [134]:
'''dfft = df_franchises
dfbt = df_business_location

f_indices = [i for i in dfft.index]
for index in f_indices:
    dfbt.at[index, 'is_franchise'] = 1

dfbt[dfbt.is_franchise == 1]'''
'dep'

'dep'