In [2]:
import pandas as pd

dft = pd.DataFrame(pd.read_csv('user/user_tip_general.csv', low_memory=False))
dfb = pd.DataFrame(pd.read_csv('business/business_location.csv', low_memory=False))

In [20]:
dftc = dfb[['business_id', 'name', 'city', 'is_franchise']]
dftc['tip_count'] = 0

<ipython-input-20-6a86d32612c0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftc['tip_count'] = 0

In [21]:
tips = [t for t in dft.business_id]

In [22]:
row_num = 0
for row in dftc.itertuples():
    dftc.at[row_num, 'tip_count'] = tips.count(row.business_id)
    
    row_num += 1

In [26]:
dftc[dftc.tip_count > 1]

,business_id,name,city,is_franchise,tip_count
401,NFm869_w6cvVaWaNpAzjeA,Soul Gastrolounge,Charlotte,0,2
492,Ra5fI9BEAuWWaLJSfkiCiQ,White Oaks,Westlake,0,2
930,NtfAbj7MSj5IOhAsGM0-5w,Einstein Bros Bagels,Scottsdale,1,2
1030,b1m_PK-ggGR3CmBjdIyqkQ,Wrights at The Arizona Biltmore,Phoenix,0,2
1106,62HlThvB9Rm2QFu_OdXe7w,Rice Paper,Phoenix,0,3
...,...,...,...,...,...
205935,vxadNrpTY7OHNmWsrEpNnA,Landmark Diner Restaurant,Charlotte,0,2
206418,VLDFjeqpUgWhnVuB_8GuEg,True Food Kitchen,Scottsdale,1,2
206420,OK_djnmJWmK4G3NMAjGGjg,Boreal Gelato Café,Toronto,0,2
206685,Z0YOHYA6YtW131xULbnMzQ,Market Street Cafe,Las Vegas,0,2
207045,RVQE2Z2uky4c0-njFQO66g,Midwood Smokehouse,Charlotte,1,3

In [24]:
dftc.to_csv('business/business_tip_count.csv', index=False, encoding='utf-8')